li {
    list-style-type: none;
}

button{
    font-size: 24px;
    margin: 5px;
    color: black;
    background-color:floralwhite;
}

button:hover{
    background-color:gray;
}

span{
    font-size: 24px;
    margin-left: 5px;
}